<style>
  .blue-brdr {border:1px solid blue;}
  .red-brdr {border:1px solid red;}
  .green-brdr {border:1px solid blue;}
</style>
<div id="intro"><div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-3 text-center">
      <%= image_tag 'logo.png', id: 'logo' %>
    </div>
    <div class="col-md-8 col-sm-6">
      <%= raw @page.content_for(:body) %>
    </div>
  </div>
</div></div>

<div class="" id="services" style="">
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-4">
      <%#= raw @page.content_for(:body) %>
      <div class="row">
            <% @services.each do |s| %>
              <div class="col-md-4 col-xs-12">
                <%= image_tag 'http://placehold.it/150x150', class: 'img-circle' %>
                <h3><%= s.title %></h3> 
                <p><%= raw s.service_excerpt %></p>
              </div>
            <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%#= image_tag 'mirror-solo.png', style: '' %>
    </div>
  </div>
</div>
</div>

<!-- <div id="promos" style="height:120px;background-color:#605f5e;margin-top:-125px;">
  <div class="container">
    <div class="row">


    </div>


  </div>
</div> -->




<!-- <div class="row no-padding" id="top-header">
  <div class="col-md-12 text-center">
    <%#= image_tag 'logo.png', id: 'logo' %>
  </div>

</div> -->

<!-- <div class="row" id="intro">
  <div class="container">
    <div class="row" style="height:600px;">
      <div class="col-md-12"><%= raw @page.content_for(:body) %></div>
    </div>
  </div>
</div> -->

<!-- <div class="row green-brdr" id="promo">
<% @promos.each do |p| %>
  <%= p.title %>
<% end %>
</div> -->



<!-- <div class="row red-brdr" id="products">
  <div class="container">
    <div class="row">  
      <% @products.each do |p| %>
        <div class="col-md-4 col-xs-1">
          <%= p.title %>
        </div>  
      <% end %>
    </div>
  </div>
</div> -->

<div class="" id="hours-map">
  <div class="container">
    <div class="row" style="">
      <div class="col-md-7 col-sm-6 col-xs-12">
        <%= raw @page.content_for(:hours) %>
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <%= raw @page.content_for(:map) %>
      </div>
    </div>
  </div>
</div>





<!-- 
<div id="hero-image">
  <div class="container">
    <div class="row">
      <h1 id='logo'>
        <%#= link_to Refinery::Core.site_name, refinery.root_path %>
      </h1>
    </div>
  </div>
</div>

<div id="section-1">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      <div class="col-md-4">
        <h3>Driving through fog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
      <div class="col-md-4">
        <h3>Driving through fog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
      <div class="col-md-4">
        <h3>Driving through fog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
    </div>
  </div>
</div>


<div id="section-2">
  <div class="container">
    <div class="row">
      <%#= render '/refinery/content_page' %>
      
      <div class="col-md-6 col-md-offset-6">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
      </div>
    </div>
  </div>
</div> -->


