<style>
  .blue-brdr {border:1px solid blue;}
  .red-brdr {border:1px solid red;}
  .green-brdr {border:1px solid blue;}
</style>
<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-5 text-center">
        <%= image_tag 'salonsolo5b-2.png', id: 'logo', class: 'img-responsive' %>
      </div>


      <% @image_array = [] %>
      <% @page.images.each_with_index do |image, index| %>
        <% @image_array << {image: image, index: index} %>
      <% end %>

      <% @hero_image = @image_array.sample %>
      <% @hero_image[:image] %>
  
      <div class="col-md-8 col-sm-6">
        <% @page.images.each_with_index do |image, index| %>
        <%# bg_color = raw @page.caption_for_image_index(index) %>

        <% if @hero_image[:index]  == 0 %>
          <% bg_style = 'rgba(132,130,126, 1)' %>
          <% @phone_style = 'rgba(132,130,126, .9)' %>
        <% elsif @hero_image[:index]  == 1 %>
          <% bg_style = 'rgba(163,171,160, 1)' %>
          <% @phone_style = 'rgba(163,171,160, .9)' %>
        <% elsif @hero_image[:index]  == 2 %>
          <% bg_style = 'rgba(72,89,107, 1)' %>
          <% @phone_style = 'rgba(72,89,107, .9)' %>
        <% elsif @hero_image[:index]  == 3 %>
          <% bg_style = 'rgba(128,129,123, 1)' %>
          <% @phone_style = 'rgba(128,129,123, .9)' %>
        <% else %>
          <% bg_style = 'rgba(149,153,165, 1)' %>
          <% @phone_style = 'rgba(149,153,165, .9)' %>
        <% end %>

          <style>
            #intro {
              background-image:url(<%= @hero_image[:image].url %>);
              background-position-y:50%;
              background-position-x:50%;
              background-repeat: no-repeat;
              background-color:<%= bg_style %>;
            }
          </style>

        <% end %>

        <%#= raw @page.content_for(:body) %>
      </div>
    </div>
  </div>
</div>

<div id="chalk">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="chalk2">
        <%= raw @page.content_for(:promo1) %>
      </div>
      <div class="col-md-4" id="chalk5">
        <%= raw @page.content_for(:promo2) %>
      </div>
      <div class="col-md-4" id="chalk4">
        <%= raw @page.content_for(:promo3) %>
      </div>
    </div>
  </div>
</div>

<div class="" id="services" style="">
<div class="container">
  <div class="row">
    <div class="col-md-4" id="phone">
      <h4>Call for an appointment:</h4>
      <h2>(608) 782-1243</h2>
      <hr>
      <div class="col-md-10 col-md-offset-2" id="hours">
        <%= raw @page.content_for(:hours) %>
      </div>
      <%= image_tag 'mirror-solo.png', id: 'mirror', class: 'hidden-sm hidden-xs' %>
    </div>
    <div class="col-md-7">
      <%#= raw @page.content_for(:body) %>
      <div class="row">
        <%#= @image_array.sample %>
            <% @services.each do |s| %>
              <div class="col-md-4 col-sm-6 col-xs-12 service_buckets">

                <%= image_fu s.service_image, '150x150c', class: 'img-circle' %>
                <h3><%= s.title %></h3> 
                <p><%= raw s.service_excerpt %></p>
              </div>
            <% end %>
      </div>
    </div>

  </div>
</div>
</div>

<div id="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="">Menu of Services</h1>

        <div class="row" id="table-section">
          <div class="col-md-4">
            <table class="table">
              <tr>
              <th colspan="2">Hair</th>
              </tr>
              <tr clas="first-row">
                <td>Haircut</td>
                <td>$34+</td>
              </tr>
              <tr>
                <td>Children (12 &amp; younger)</td>
                <td>$20</td>
              </tr>
              <tr>
                <td>Special Events/Updo</td>
                <td>Consultation only</td>
              </tr>
            </table>

            <table class="table">
              <tr>
              <th colspan="2">Nails</th>
              </tr>
              <tr clas="first-row">
                <td>Manicure - 45 minutes</td>
                <td>$20</td>
              </tr>
              <tr>
                <td>Gel polish manicure - 1 hour</td>
                <td>$30</td>
              </tr>
              <tr>
                <td>Pedicure - 1 hour 15 min</td>
                <td>$35</td>
              </tr>
              <tr>
                <td>Full set gel (plain) 1 hour 15 min</td>
                <td>$35</td>
              </tr>
              <tr>
                <td>Full set gel (French) 1 hour 15 min</td>
                <td>$40</td>
              </tr>
              <tr>
                <td>Fill for gel set (plain) 1 hour 15 min</td>
                <td>$30</td>
              </tr>
              <tr>
                <td>Fill for gel set (French) 1 hour 15 min</td>
                <td>$35</td>
              </tr>
            </table>
          </div>




          <div class="col-md-4">

            <table class="table">
              <tr>
              <th colspan="2">Color</th>
              </tr>
              <tr clas="first-row">
                <td>Color retouch</td>
                <td>$70+</td>
              </tr>
              <tr>
                <td>Highlights/Lowlights<br />
                  - partial<br />
                  - full<br />
                  <small>*long hair extra</small>
                </td>
                <td>&nbsp;<br />
                  70+<br />
                  $100+
                </td>
              </tr>
              <tr>
                <td>Perms/Texture</td>
                <td>Consultation only</td>
              </tr>
            </table>

            <table class="table">
              <tr>
              <th colspan="2">Massage</th>
              </tr>
              <tr clas="first-row">
                <td>30 minutes</td>
                <td>$40</td>
              </tr>
              <tr>
                <td>60 minutes</td>
                <td>$70</td>

              </tr>
              <tr>
                <td>90 minutes</td>
                <td>$90</td>
              </tr>
              <tr>
                <td>120 minutes</td>
                <td>$120</td>
              </tr>
              <tr>
                <td>Add on reflexology or stone massage - 15 minutes</td>
                <td>$15</td>
              </tr>
            </table>

          </div>
          <div class="col-md-4">
            <table class="table">
              <tr>
              <th colspan="2">Treatment/Add-Ons</th>
              </tr>
              <tr clas="first-row">
                <td>Repairing treatment<br />
                  <small>with service</small></td>
                <td>$15</td>
              </tr>
              <tr>
                <td>Clariflying treatment<br />
                  <small>without service</small></td>
                <td>$30</td>

              </tr>
              <tr>
                <td>Shine treatment</td>
                <td>$30</td>
              </tr>
                            <tr>
                <td>Blowdry</td>
                <td>$25</td>
              </tr>
                            <tr>
                <td>Blowdry with hot tools</td>
                <td>$35</td>
              </tr>
            </table>

            <table class="table">
              <tr>
              <th colspan="2">Aesthetics</th>
              </tr>
              <tr class="first-row">
                <td>Repairing treatment<br />
                  <small>with service</small></td>
                <td>$15</td>
              </tr>
              <tr>
                <td>Clariflying treatment<br />
                  <small>without service</small></td>
                <td>$30</td>

              </tr>
              <tr>
                <td>Shine treatment</td>
                <td>$30</td>
              </tr>
                            <tr>
                <td>Blowdry</td>
                <td>$25</td>
              </tr>
                            <tr>
                <td>Blowdry with hot tools</td>
                <td>$35</td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="" id="footer">
  <div class="container">
    <div class="row" style="">
      <div class="col-md-4">
        <h1>Our new location</h1>
        <p class="lead">Salon Solo has moved (a little).<br />We are now located on the west side of HWY 16 just south of Gillette street and Plaza 16.</p>
        <p class="lead">Salon Solo<br />
          N3363 State Hwy 16<br />
          La Crosse, Wisconsin 54601</p>

        <!-- google-maps -->
        <%#= raw @page.content_for(:map) %>
      </div>
      <div class="col-md-4">
        <h1>Connect with Salon Solo</h1>
        <p class="lead">
          <i class="fa fa-phone-square"></i> (608) 782-1243<br />
          <a href="https://www.facebook.com/pages/Salon-soLo/212657592093798"><i class="fa fa-facebook-square fa-1x"></i> Like us on Facebook</a>
        </p>
      </div>
      <div class="col-md-4">
        <h1>Gift Cards</h1>
        <p class="lead">Gift cards from Salon Solo make great presents for loved ones and friends. Please call or stop in for more information.</p>

      </div>
    </div>
  </div>
</div>

<div id="sub-footer">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <small>&copy; <%= Time.now.strftime('%Y') %>. All Rights Reserved. | Salon Solo, LLC</small>

    </div>


  </div>


</div>



