<% content_for (:under_construction) do %>

<div class="container" style="height:80vh;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= image_tag 'salonsolo5b-2.png', id: 'logo', class: 'img-responsive', style: 'margin-bottom:50px;' %>
      <h2>Under Construction</h2>
      <p>Please check back soon!</p>
    </div>
  </div>
</div>

<% end %>



<style>
  .blue-brdr {border:1px solid blue;}
  .red-brdr {border:1px solid red;}
  .green-brdr {border:1px solid blue;}
</style>
<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3 col-xs-5 text-center">
        <%= image_tag 'salonsolo5b-2.png', id: 'logo', class: 'img-responsive' %>
      </div>


      <% @image_array = [] %>
      <% @page.images.each_with_index do |image, index| %>
        <% @image_array << {image: image, index: index} %>
      <% end %>

      <% @hero_image = @image_array.sample %>
      <%# @hero_image[:image] %>
  
      <div class="col-md-8 col-sm-6">
        <% @page.images.each_with_index do |image, index| %>
        <% bg_color = raw @page.caption_for_image_index(index) %>

        <% if @hero_image[:index]  == 0 %>
        <%#= @hero_image[:index] %>
          <% bg_style = 'rgba(163,171,160, 1)' %><!-- green -->
          <% @phone_style = 'rgba(163,171,160, .9)' %>
        <% elsif @hero_image[:index]  == 1 %>
        <%#= @hero_image[:index] %>
          <% bg_style = 'rgba(72,89,107, 1)' %><!-- blue -->
          <% @phone_style = 'rgba(72,89,107, .9)' %>
        <% else %>
        <%#= @hero_image[:index] %>
          <% bg_style = 'rgba(149,153,165, 1)' %><!-- violet -->
          <% @phone_style = 'rgba(149,153,165, .9)' %>
        <% end %>

          <style>
            #intro {
              background-image:url(<%= @hero_image[:image].url %>);
              background-position-x:55%;
              background-position-y:50%;
              background-repeat: no-repeat;
              background-color:<%= bg_style %>;
            }
          </style>

        <% end %>

        <%= raw @page.content_for(:body) %>
      </div>
    </div>
  </div>
</div>



<div id="chalk">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="chalk2">
        <%= raw @page.content_for(:promo1) %>
      </div>
      <div class="col-md-4" id="chalk5">
        <%= raw @page.content_for(:promo2) %>
      </div>
      <div class="col-md-4" id="chalk4">
        <%= raw @page.content_for(:promo3) %>
      </div>
    </div>
  </div>
</div>

<div class="" id="services" style="">
<div class="container">
  <div class="row">
    <div class="col-md-4" id="phone">
      <h4>Call for an appointment:</h4>
      <h2>(608) 782-1243</h2>
      <hr>
      <div class="col-md-10 col-md-offset-2" id="hours">
        <%= raw @page.content_for(:hours) %>
      </div>
      <%= image_tag 'mirror-solo.png', id: 'mirror', class: 'hidden-sm hidden-xs img-responsive', style: 'top:200px;'%>
    </div>
    <div class="col-md-7">
      <%#= raw @page.content_for(:body) %>
      <div class="row">
        <%#= @image_array.sample %>
            <% @services.each do |s| %>
              <div class="col-md-4 col-sm-6 col-xs-6 service_buckets">

                <%= image_fu s.service_image, '150x150c', class: 'img-circle' %>
                <h3><%= s.title %></h3> 
                <p><%= raw s.service_excerpt %></p>
              </div>
            <% end %>
      </div>
    </div>

  </div>
</div>
</div>


<div id="menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="">Menu of Services</h1>

        <div class="row" id="table-section">
          <div class="col-md-4 col-md-offset-2">
            <%= raw @page.content_for(:hair) %>
            <%= raw @page.content_for(:color) %>
          </div>

          <div class="col-md-4">
            <%= raw @page.content_for(:treatments) %>

            <%= raw @page.content_for(:massage) %>
            <%#= raw @page.content_for(:nails) %>
          </div>

          <!-- <div class="col-md-4">
            
            <%#= raw @page.content_for(:aesthetics) %>   
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>

<%# content_for (:backup) do %>
<%# end %>

